/*-----Course homepage stylesheet-----*/


:root {
    --main-bg-color: #7e90c1;
    --main-container-color: #f2f1f1;
    --primary-type-color: #212427;
    --primary-header-color: #212b4e;
    --subheader-color: #363946;
    --subheader-color-inverse: #929abc;
    --primary-button-color: #25293d;
    --primary-link-color: #1c3a5a;
    --accent-color: #45bac4;
    --accent-color-rgb: rgba(69, 186, 196, 0.324);
}

html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* ---------responsive images--------- */

img {
    max-width:100%;
}

/* ---------global styles--------- */
body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1em;
    color: #3D3D3D;
    background-color: var(--main-bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23eeeef7' fill-opacity='0.28'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    margin: 0px;
}

header.primary {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 40px;
    color: #fff;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position: relative;
    padding-top: 10px;
    background-color: #000;
}

header.primary::before {
    background-image: url(https://klmerritt44.github.io/mobile-web-3342/assets/img/bugs-eye-view.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

header.primary nav ul a{
    color: #fff;
}


header.primary h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.4em;
}

header.primary h2 {
    color: var(--subheader-color-inverse);
}

#header-content {
    width: 80vw;
    margin: 30px auto;
    padding: 10px 30px;
    position: relative;
}


h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.7em;
    color: var(--subheader-color);
    
}

.container {
    background-color: var(--main-container-color);
    width: 80vw;
    margin: 30px auto;
    padding: 10px 30px;
}


/*--media queries---*/


/*---color codes-----

#E1E9F0 - light blue gray bg
#323954 - header font color
#3D3D3D - body font color

https://artisanthemes.io/best-google-fonts-color-combinations-feminine-website/

Ocean Color Theme Swatches in Hex
.Seychelle-Islands-1-hex { color: #FAEDDA; }
.Seychelle-Islands-2-hex { color: #AEE8CA; }
.Seychelle-Islands-3-hex { color: #6ACFC9; }
.Seychelle-Islands-4-hex { color: #26B6C6; }
.Seychelle-Islands-5-hex { color: #3C2F80; }

Color Theme Swatches in RGBA
.Seychelle-Islands-1-rgba { color: rgba(249, 237, 218, 1); }
.Seychelle-Islands-2-rgba { color: rgba(174, 232, 202, 1); }
.Seychelle-Islands-3-rgba { color: rgba(105, 207, 200, 1); }
.Seychelle-Islands-4-rgba { color: rgba(38, 182, 198, 1); }
.Seychelle-Islands-5-rgba { color: rgba(59, 47, 128, 1); }

Color Theme Swatches in HSLA
.Seychelle-Islands-1-hsla { color: hsla(35, 76, 91, 1); }
.Seychelle-Islands-2-hsla { color: hsla(148, 55, 79, 1); }
.Seychelle-Islands-3-hsla { color: hsla(176, 51, 61, 1); }
.Seychelle-Islands-4-hsla { color: hsla(185, 67, 46, 1); }
.Seychelle-Islands-5-hsla { color: hsla(249, 46, 34, 1); }

*/