/* --- Resume Stylesheet ----- */

/* CSS Custom Properties */

:root{
  --main-bg-color: #E8E8E8;
  --primary-type-color: #222222;
  --primary-header-color: #212b4e;
  --subheader-color: #d90754;
  --primary-button-color: #25293d;
  --primary-link-color: #2a809d;
  --accent-color: #45bac4;
  --accent-color-rgb: rgba(69, 186, 196, 0.324);
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ------ Typography -------*/
  body {
    font-family: 'Martel', serif;
    font-weight: 375;
    font-size: 1em;
    color: var(--primary-type-color);
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    color: var(--primary-header-color);
  }
  
  strong {
    color: #3a3a3a;
  }

 main h1 {
    font-weight: 700;
    font-size: 2.4em;
    color: #3a4469;
    line-height: 1.4em;
  }

  .subtitle {
    font-weight: 350;
    font-size: 1.3em;
  }

  main h2 {
    color:#D90754;
    background: var(--main-bg-color);
    font-size: 2em;
    font-weight: 750;
  }

  h3 {
    font-weight: 650;
    font-size: 1.6em;
  }
  
  h4 {
    font-weight: 600;
    font-size: 1.2em;
  }
  /* ------ Fluid Images -------*/
  img {
    max-width: 100%;
  }
  
  /* ------ Utility Classes  -------*/

  .container {
    width: 375px; /*design time*/
    background: var(--main-bg-color);
    border: solid 2px;
    margin: 0 auto;
  }

/*------ Global Styles ------*/

body {
  background: var(--main-bg-color);
  color: var(--primary-font-color);
}

a:link,
a:visited {
  color: var(--primary-link-color);
  margin: auto;
}

nav {
  padding: 1px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 20px 0px 20px;

}

nav li {
  list-style-type: none;
}

nav a:link, nav a:visited {
  display: block;
  padding: 8px 10px;
  border: solid 1px;
  text-align: center;
  background: var(--primary-button-color);
  text-decoration: none;
  color: #fff;
  font-size: .8em;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background: rgba(37, 41, 61, 0.9);
}

#about {
  border-bottom: 4px double var(--accent-color);
}

main {
  display: grid;
  padding: 1em;
  background: var(--main-bg-color);
  grid-template-areas: 
    "title"
    "about"
    "education"
    "experience"
    "skills";
}

dl {
  display: grid;
  /*shorthand*/
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size:.9rem;
}

dt {
  font-weight: 800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-rgb);
}

dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-rgb);
}

.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  gap: 20px;
}

.related-links a {
  text-align: center;
  padding: 10px;
  background: var(--primary-button-color);
  color: #fff;
  font-size: .8em;
  text-decoration: none;
}

.related-links a:hover{
  background: rgba(37, 41, 61, 0.9);
}

#title{
  grid-area: title;
}

#about {
  grid-area: about;
  border-bottom: 4px double var(--accent-color);
}

#skills {
  border-bottom: 4px double var(--accent-color);
  grid-area: skills;
}

#experience {
  border-bottom: 4px double var(--accent-color);
  grid-area: experience;
}

#education {
  border-bottom: 4px double var(--accent-color);
  grid-area: education;
  padding-bottom: 20px;
}

.job {
  border-bottom: 1px solid var(--accent-color-rgb);
}

.job,
.certificate {
  border-bottom: 1px solid var(--accent-color-1);
  padding-bottom: 20px;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

#courses {
  
}

footer {
  text-align: center;
  padding: 20px 0;
}

  /* ----- Helper Classes ---- */

  .hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}
