/*----hocott's website stylesheet--------*/


@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*-------------- global styles ------------- */
 body {
  font-family: 'open sans';
  font-size: 1rem;
  background: #e6e5e0;
  /*---design time constraints
  width: 375px;
  border: 1px solid; ----*/
 }

 h1,h2,h3,h4 {
  font-family: domine;
 }


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}


/*----------------helper classes ----------------*/

   .container{
    width:80vw;
    margin: 40px auto;
    max-width: 900px;
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    padding: 5px;
}

.img-left {
    float:left;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}

.img-center {
    display: block;
    padding: 5px;
    margin: 20px auto;
    padding: 5px;
}


   /*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* -----authors css ------*/

.nav-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #e6e5e0;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
  background-image: url(https://klmerritt44.github.io/mobile-web-3342/hocotts/assets/includes/raised-garden-bed.jpg);
}

header::after {
  content: '';
  clear: both;
  display: block;
}

header.primary h1 a {
  background: url(../includes/logo.png) no-repeat;
  display: block;
  width: 300px;
  height: 70px;
  margin: 0px auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #034001;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #9ABF49;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #e6e5e0;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #72A603;
  color: #72A603;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.8);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #215202;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  color: #e6e5e0;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}



/*--------------media queries-----------------------*/

@media (min-width: 768px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
    color: #034001;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/* logo color scheme 
orange #f7941e
*/

/* Color Theme Swatches in Hex */
.Beautiful-home-garden-in-full-bloom-1-hex { color: #F20519; }
.Beautiful-home-garden-in-full-bloom-2-hex { color: #F20574; }
.Beautiful-home-garden-in-full-bloom-3-hex { color: #034001; }
.Beautiful-home-garden-in-full-bloom-4-hex { color: #72A603; }
.Beautiful-home-garden-in-full-bloom-5-hex { color: #9ABF49; }



/* Color Theme Swatches in RGBA */
.Beautiful-home-garden-in-full-bloom-1-rgba { color: rgba(242, 4, 24, 1); }
.Beautiful-home-garden-in-full-bloom-2-rgba { color: rgba(242, 4, 115, 1); }
.Beautiful-home-garden-in-full-bloom-3-rgba { color: rgba(3, 63, 1, 1); }
.Beautiful-home-garden-in-full-bloom-4-rgba { color: rgba(114, 165, 3, 1); }
.Beautiful-home-garden-in-full-bloom-5-rgba { color: rgba(153, 191, 72, 1); }

/* Color Theme Swatches in HSLA */
.Beautiful-home-garden-in-full-bloom-1-hsla { color: hsla(354, 96, 48, 1); }
.Beautiful-home-garden-in-full-bloom-2-hsla { color: hsla(331, 96, 48, 1); }
.Beautiful-home-garden-in-full-bloom-3-hsla { color: hsla(118, 96, 12, 1); }
.Beautiful-home-garden-in-full-bloom-4-hsla { color: hsla(78, 96, 33, 1); }
.Beautiful-home-garden-in-full-bloom-5-hsla { color: hsla(78, 48, 51, 1); }




