/*----hocott's website stylesheet--------*/


@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --body-text: #222;
  --body-text-inverse: #e6e5e0;
  --light-bg: #e6e5e0;
  --dark-bg: #034001;
  --dark-bg-opacity: rgba(2, 30, 1, 0.7);
  --standard-padding: 30px;
}

html {
  color: var(--body-text);
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*-------------- global styles ------------- */
 body {
  font-family: 'open sans';
  font-size: 1rem;
  background: var(--light-bg);
  margin: 0px;
 }

 h1,h2,h3,h4 {
  font-family: domine;
 }


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}


/*----------------utility classes ----------------*/

  .container{
    width:80vw;
    margin: 40px auto;
    max-width: 1000px;
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    padding: 5px;
}

.img-left {
    float:left;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}

.img-center {
    display: block;
    padding: 5px;
    margin: 20px auto;
    padding: 5px;
}

a.cta {

}

a:hover {
  color: var(--body-text);
  font-weight: bold;
}


   /*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* -----author's css ------*/

.nav-container {
  width: 75%;
  max-width: 1000px;
  margin: 0;
  background: var(--light-bg);
}

.site-nav {
  position: absolute;
  top: 40%;
  right: 0%;
  background: #034001;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  z-index: 1;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #9ABF49;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #e6e5e0;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #72A603;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.8);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #215202;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  color: #e6e5e0;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

header {
  background: #e6e5e0;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

header.primary h1 {
  float: left;
}

header.primary h1 a {
  background: url(../includes/logo.png) no-repeat;
  display: block;
  width: 300px;
  height: 90px;
  margin: 0px auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

 #primary-hero {
  background-image: url(https://klmerritt44.github.io/mobile-web-3342/hocotts/assets/img/raised-garden-bed-450.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
}

#cta-section {
  background: var(--dark-bg-opacity);
  color: var(--body-text-inverse);
  padding: 1em;
  position: absolute;
  bottom: 20px;
}

#cta-section a {
  color: var(--body-text-inverse);
  text-decoration: none;
  background: var(--dark-bg);
  padding: 0.5em;
}

#cta-section a:hover {
  background: var(--dark-bg-opacity);
}

section.services {
  margin: 30px;
}

section.services article {
  text-align: center;

}

section.services a {
  text-decoration: none;
  color: var(--body-text);
  
}


.grid {
  display: grid;
}

.grid.image-gallery {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.services .grid article a {
  display: block;
  font-size: .8em;
  margin-top: 10px;
}

.services a.cta-button {
  display: block;
  padding: 10px;
  background: var(--dark-bg);
  margin: 20px auto;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: var(--body-text-inverse);
}

#blog article.post{
  margin-bottom: 30px;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}

#blog article.post a {
  text-decoration: none;
  color: var(--body-text);
  font-size: .9em;
}

#blog a svg {
  width: 15px;
  margin-left: 5px;

}

footer {
  background: var(--dark-bg);
  color: var(--body-text-inverse);
  margin: 0px auto;
  padding: var(--standard-padding);
}

footer > * {
  display: block;
  margin: auto;
  text-align: center;
}  

footer a {
  color: var(--body-text-inverse)
}  








/*----------------------media queries-----------------------*/

@media (min-width: 768px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
    color: #042d03;
    font-size: 1.2em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
    color: #659204;
  }
  
  .site-nav--icon {
    display: none;
  }

  div.grid.image-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  #primary-hero {
    background-image: url(https://klmerritt44.github.io/mobile-web-3342/hocotts/assets/img/raised-garden-bed-800.jpg);
  }

  #blog div.grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  
}

@media (min-width: 1200px) {
    #primary-hero {
      background-image: url(https://klmerritt44.github.io/mobile-web-3342/hocotts/assets/img/raised-garden-bed.jpg);
      height: 60vh;
      background: cover;
    }

    section.services {
      margin: 60px;
    }

    .services .grid article a {
      display: block;
      font-size: 1em;
      margin-top: 10px;
    }

    .services a.cta-button {
      margin: 30px auto;
      font-size: 1.3em;
      width: 200px;
      padding: 15px
    }

    #blog div.grid {
      column-gap: 60px;
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      grid-template-areas:
      "iframe info"
      "copyright copyright";
    }

    footer iframe {
      grid-area: iframe;
    }
    footer div.store-info {
      grid-area: info;
    }

    footer h6 {
      grid-area: copyright;
    }

}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/* logo color scheme 
orange #f7941e
*/

/* Color Theme Swatches in Hex */
.Beautiful-home-garden-in-full-bloom-1-hex { color: #F20519; }
.Beautiful-home-garden-in-full-bloom-2-hex { color: #F20574; }
.Beautiful-home-garden-in-full-bloom-3-hex { color: #034001; }
.Beautiful-home-garden-in-full-bloom-4-hex { color: #72A603; }
.Beautiful-home-garden-in-full-bloom-5-hex { color: #9ABF49; }



/* Color Theme Swatches in RGBA */
.Beautiful-home-garden-in-full-bloom-1-rgba { color: rgba(242, 4, 24, 1); }
.Beautiful-home-garden-in-full-bloom-2-rgba { color: rgba(242, 4, 115, 1); }
.Beautiful-home-garden-in-full-bloom-3-rgba { color: rgba(3, 63, 1, 1); }
.Beautiful-home-garden-in-full-bloom-4-rgba { color: rgba(114, 165, 3, 1); }
.Beautiful-home-garden-in-full-bloom-5-rgba { color: rgba(153, 191, 72, 1); }

/* Color Theme Swatches in HSLA */
.Beautiful-home-garden-in-full-bloom-1-hsla { color: hsla(354, 96, 48, 1); }
.Beautiful-home-garden-in-full-bloom-2-hsla { color: hsla(331, 96, 48, 1); }
.Beautiful-home-garden-in-full-bloom-3-hsla { color: hsla(118, 96, 12, 1); }
.Beautiful-home-garden-in-full-bloom-4-hsla { color: hsla(78, 96, 33, 1); }
.Beautiful-home-garden-in-full-bloom-5-hsla { color: hsla(78, 48, 51, 1); }




