html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .cf:before,
  .cf:after {
      content: " "; 
      display: table;
  }
  
  .cf:after {
      clear: both;
  }

  main {
    width: 956px;
    margin: 20px auto;
    border: 1px solid #000;
    background-image:url("../img/grid.png");
  }
  
  header.primary, footer.primary{
    width: 916px;
    margin: 20px;
    background: rgba(0,0,0,.2);
    border: 1px solid #000;
    float: left;
  }

  #blog {
    background: rgba(0,0,0,.2);
    width: 604px;
    margin-left: 20px;
    padding: 20px;
    float: left;
  }

  aside {
    background: rgba(0,0,0,.2);
    width: 292px;
    margin-left: 20px;
    padding: 20px;
    float: left;
  }


